<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ISBN</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">New</Data></Cell>
        <Cell><Data ss:Type="String">Good</Data></Cell>
        <Cell><Data ss:Type="String">Fair</Data></Cell>
        <Cell><Data ss:Type="String">Poor</Data></Cell>
        <Cell><Data ss:Type="String">Missing</Data></Cell>
        <Cell><Data ss:Type="String">N/A</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
      </Row>
    <% @book_editions.each do |book| %>
      <%- totals = book.book_copies.group(:book_condition_id).count(:id) %> 
        <Row>
          <Cell><Data ss:Type="String"><%= book.isbn %></Data></Cell>
          <Cell><Data ss:Type="String"><%= book.title %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals[1] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals[2] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals[3] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals[4] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals[5] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals[nil] %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= totals.values.sum %></Data></Cell>
        </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>